---
import Layout from "@/layouts/Layout.astro";
import Hero from "@components/sections/Hero.astro";
import About from "@components/sections/About.astro";
import Experience from "@components/sections/Experience.astro";
import Education from "@components/sections/Education.astro";
import Skills from "@components/sections/Skills.astro";
import Projects from "@components/sections/Projects.astro";
import KeyManager from "@components/KeyManager.astro";

---

<Layout title="portfolio minimalista">

	<main>
		<Hero />

		<About />

		<Experience />

		<Education />

		<Skills />

		<Projects />
	</main>
	<KeyManager />
</Layout>

<style>
	main{
		margin-bottom: 164px;
	}
</style>